.shareLinkText {
  @mixin light {
    border-bottom: 0.05em solid var(--mantine-color-dark-0);
  }
  @mixin dark {
    border-bottom: 0.05em solid var(--mantine-color-dark-2);
  }
}

.treeNode {
  text-decoration: none;
  user-select: none;
}

.navbar,
.aside {
  @media (max-width: 48em) {
    width: 350px;
  }
}
