.readingTime {
  --reading-time-color-progress: 0%;

  color: light-dark(#087f5b, #8ce99a);
  color: light-dark(
    color-mix(
      in oklch,
      #087f5b calc(100% - var(--reading-time-color-progress)),
      #93151b var(--reading-time-color-progress)
    ),
    color-mix(
      in oklch,
      #8ce99a calc(100% - var(--reading-time-color-progress)),
      #e3807f var(--reading-time-color-progress)
    )
  );
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  line-height: var(--mantine-line-height-sm);

  @media (forced-colors: active) {
    color: CanvasText;
  }
}
