.titleEditorContainer {
  width: 100%;
}

.titleEditorContainer :global(.ProseMirror) {
  padding: 0;
  margin: 0;
  min-height: calc(1em * 1.2);
  outline: none;
}

.titleEditorContainer :global(.ProseMirror h1) {
  margin: 0;
  font-size: clamp(1.8rem, 3vw, 2.5rem);
  line-height: 1.2;
}

.databaseDescriptionEditor {
  width: 100%;
}

.databaseDescriptionEditor :global(.ProseMirror) {
  padding: 0;
  margin: 0;
  min-height: calc(1em * var(--mantine-line-height-md));
  font-size: var(--mantine-font-size-md);
  line-height: var(--mantine-line-height-md);
  outline: none;
}

.readOnlyDescription :global(.ProseMirror) {
  cursor: default;
}
